<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="store.component.css">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="storeCards">
        <div class="card" style="width: 18rem; padding: 2rem; margin: 2rem">
            <img src="/assets/jatszoter.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;padding: 2rem; margin: 2rem">
            <img src="/assets/jatek.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;padding: 2rem; margin: 2rem">
            <img src="/assets/etetotal.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card" style="width: 18rem;padding: 2rem; margin: 2rem">
            <img src="/assets/fuggoagy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>


<p>store works!</p>
<router-outlet></router-outlet>
