<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="store.component.css">
    <title>Store</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="storeCards">
        <div class="card" *ngFor="let product of products" style="width: 18rem; padding: 2rem; margin: 1rem; background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.25rem;">
            <img [src]="product.imgSrc" class="card-img-top" [alt]="product.name" style="border-radius: 0.25rem;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Your cat's new {{ product.name }}.</p>
                <p class="card-price">Price: ${{ product.price.toFixed(2) }}</p>
                <p class="card-stock">In Stock</p>
                <label [for]="'quantity-' + product.id">Quantity:</label>
                <input type="number" [id]="'quantity-' + product.id" name="quantity" min="1" max="10" [(ngModel)]="product.quantity" style="background-color: rgb(194, 210, 217); border: 1px solid #ced4da; border-radius: 0.25rem;">
                <button (click)="addToCart(product)" class="btn btn-primary" style="margin-top: 0.5rem;">Add to Cart</button>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>
</html>
