<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catUser</title>
    <link rel="stylesheet" href="pay.component.css">
</head>
<body>
    <app-navbar></app-navbar>
    <div class="catUser">
        
        <form class="sign-in-form">
            
            <input type="text" placeholder="Name" id="signInUserName">
            <input type="adress" placeholder="Adress" id="UserAdress">
            <input type="email" placeholder="Email" id="signInUserEmail">
            <input type="piece" placeholder="Piece" id="pieceProduct">
            <input type="id" placeholder="Product" id="idProduct">
            <label type="order" placeholder="Order" id="Order"> </label>
            <button type="submit">Go</button>
        </form>

    </div>
    <router-outlet></router-outlet>
</body>
</html>
