<app-navbar></app-navbar>
<div class="catUser">
  <form (ngSubmit)="onLoginSubmit(logInForm)" #logInForm="ngForm" class="log-in-form">
    <input type="text" placeholder="Name" id="logInUserName" name="logInUserName" ngModel required>
    <input type="password" placeholder="Password" id="logInUserPassword" name="logInUserPassword" ngModel required>
    <button type="submit" [disabled]="logInForm.invalid">Log In</button>
    <button type="button" routerLink="/home">Home</button>
  </form>
</div>
<router-outlet></router-outlet>
