/* Alapértelmezett stílusok a body elemhez */
body {
    margin: 0;
    height: 100vh; /* Magasság beállítása a nézetablak teljes magasságára */
    display: flex;
    justify-content: center; /* Középre igazítás vízszintesen */
    align-items: center; /* Középre igazítás függőlegesen */
    background: url('/assets/catUser.png') no-repeat center center fixed; /* Háttérkép beállítása */
    background-size: cover; /* Háttérkép kitöltése */
}

/* Stílusok a form tartalom számára */
.catUser {
    background-color: rgba(255, 255, 255, 0.9); /* Félátlátszó háttér */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Form szélesség */
    box-sizing: border-box; /* Padding és border beletartozik a szélességbe */
    text-align: center; /* Cím középre igazítása */
    margin-left: calc(50% - 150px);
   
}

.catUser img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Kép középre igazítása */
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Input mezők szélessége */
    box-sizing: border-box; /* Padding és border beletartozik a szélességbe */
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Gomb szélessége */
}

button:hover {
    background-color: #45a049;
}
