<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="catUser">
        <form class="home">
            <button type="button" routerLink="/user">Sign In</button>
            <button type="button" routerLink="/user">Log In</button>
            <button type="button" routerLink="/about">About</button>
            <button type="button" routerLink="/contact">Contact</button>
            <button type="button" routerLink="/play">Play</button>
        </form>
    </div>

<router-outlet></router-outlet>
</body>
</html>



